<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Html.Raw(ViewBag.seostr)
    <link rel="stylesheet" href="/web_css/base.css" />
    <link rel="stylesheet" href="/web_css/index.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/web_js/jquery.SuperSlide.2.1.1.js"></script>

    <script type="text/javascript" src="/web_js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/web_js/TouchSlide.1.1.js"></script>
    <script src="/web_js/jquery1.42.min.js"></script>
    <script src="/web_js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/web_js/swiper.min.js"></script>

</head>
<body>
    <div class="pc">
        <!--顶部-->
        @{
            Html.RenderAction("top", "siteParent", new { cid = ViewBag.cid, t = "index" });
        }

        <!--Float bar-->
        @{
            Html.RenderPartial("floatbar");
        }

        <!--产品栏目滚动-->
        @Html.Raw(ViewBag.lanmu)
        <!--产品滚动-->
        @*@Html.Raw(ViewBag.procenter)*@

        <div class="flex marlauto marrauto martop90 marbot90 maxw1380">
            <div class="w25">
                <div style="color:#d40101;font-size:0.24rem;font-weight:500;">PRODUCT</div>
                <div class="fw-bold fst40">产品展示</div>
                <p class="martop10 fst17" style="line-height: 0.26rem">公司研发的热水锅炉有：型煤、焦煤、散煤、散煤环保无烟燃烧等不同系列，六十多种规格，其产品设计先进，结构合理，大限度满足用户的需求。</p>
                <button class="martop30 bg-d40101 flex ai-center jc-center c-fff bor-none" style="width:120px;height:35px" onclick="{ window.location.href = '/list?cid=67' }">全部产品 ></button>
            </div>
            <div class="w50 txt-center">
                <img class="w80" src="~/web_images/product1.png" />
            </div>
            <div class="w25 martop30">
                <div class="fw-bold fst30" style="color:#d40101">生物质锅炉</div>
                <div class="martop10 fst17" style="line-height: 0.26rem">
                    操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制、电机连锁保护，司炉操作省心省力，运行时无任何安装隐患。
                </div>
                <button class="martop30 bg-trans flex ai-center jc-center" style="width:120px;height:35px" onclick="{ window.location.href = '/list?cid=116' }">查看详细 ></button>
            </div>
        </div>


        <div class="bg-fff" style="padding:20px 100px 20px 100px">
            <div class="slideGroup-1" style="margin:0 auto">
                <div class="parBd">
                    <div class="slideBox-1">
                        <a class="sPrev" href="javascript:void(0)">
                            <img src="~/web_images/back-arrow-red-btn.png" />
                        </a>
                        <ul>
                            <li>
                                <div class="li-item">
                                    <div class="pic">
                                        <a href="" target="_blank"><img src="~/web_images/product1.png" /></a>
                                    </div>
                                    <div class="title">
                                        <div>生物质锅炉</div>
                                        <div>操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                        <img src="~/web_images/next-right-btn.png" onclick='window.location.href = "/list?cid=116"' />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="li-item">
                                    <div class="pic">
                                        <a href="" target="_blank"><img src="~/web_images/product2.png" /></a>
                                    </div>
                                    <div class="title">
                                        <div>燃油燃气锅炉</div>
                                        <div>操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                        <img src="~/web_images/next-right-btn.png" onclick='window.location.href = "/list?cid=117"' />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="li-item">
                                    <div class="pic">
                                        <a href="" target="_blank"><img src="~/web_images/product3.png" /></a>
                                    </div>
                                    <div class="title">
                                        <div>燃煤锅炉</div>
                                        <div>操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                        <img src="~/web_images/next-right-btn.png" onclick='window.location.href = "/list?cid=118"' />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="li-item">
                                    <div class="pic">
                                        <a href="" target="_blank"><img src="~/web_images/product4.png" /></a>
                                    </div>
                                    <div class="title">
                                        <div>热风锅炉</div>
                                        <div>操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                        <img src="~/web_images/next-right-btn.png" onclick='window.location.href = "/list?cid=119"' />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="sNext" href="javascript:void(0)">
                            <img src="~/web_images/next-arrow-red-btn.png" />
                        </a>
                    </div><!-- slideBox End -->
                </div><!-- parBd End -->
            </div>
        </div>
        <script type="text/javascript">
            /*
            SuperSlide组合注意：
            1、内外层mainCell、targetCell、prevCell、nextCell等对象不能相同，除非特殊应用；
            2、注意书写顺序，通常先写内层js调用，再写外层js调用
            */

            /* 内层图片滚动切换 */
            jQuery(".slideGroup-1 .slideBox-1").slide({ mainCell: "ul", vis: 3, prevCell: ".sPrev", nextCell: ".sNext", effect: "leftLoop" });

            /* 外层tab切换 */
            jQuery(".slideGroup-1").slide({ titCell: ".parHd li", mainCell: ".parBd" });

        </script>

        <!--about company-->
        <div class="flex marlauto marrauto maxw1380 martop60">
            <div class="flex flex-column">
                <div class="flex w100">
                    <img class="w50" src="~/web_images/city-img-1.png">
                    <div class="bg-fff">
                        <div class="flex flex-column" style="padding:0.6rem;">
                            <div class="fst24 fw-bold">凤城市环宇锅炉制造有限责任公司</div>
                            <p class="martop10 fst16" style="line-height:0.25rem">公司地处风景秀丽的凤凰山脚下，地理位置优越，交通很便利，是一家有着二十多年生产经验且具有省级“制造许可证”的锅炉生产企业。公司先后荣获农业部管理达标合格单位，省环保产品质量认证单位，省产品质量、服务质量双信誉单位等多项荣誉。</p>
                            <button class="martop30 bg-trans flex ai-center jc-center" style="width:120px;height:35px" onclick="{ window.location.href = '/list?cid=74' }">查看详细 ></button>
                        </div>
                    </div>
                </div>
                <div class="flex w100">
                    <div class="bg-fff">
                        <div class="flex flex-column" style="padding:0.6rem;">
                            <div class="fst24 fw-bold">企业文化</div>
                            <p class="martop10 fst16" style="line-height:0.25rem">公司生产设备精良，质量保障体系完整。多年来，我公司凭借着过硬的产品质量，雄原的技术实力，良好的企业信誉，至上的售后服务，塑造了环宇锅炉企业形象，使之在激烈的市场竞争中立于不败之地</p>
                            <button class="martop30 bg-trans flex ai-center jc-center" style="width:120px;height:35px" onclick="{ window.location.href = '/list?cid=75' }">查看详细 ></button>
                        </div>
                    </div>
                    <img class="w50" src="~/web_images/city2-img.png">
                </div>
            </div>
        </div>

        <!--Customercase-->
        @Html.Raw(ViewBag.index_customercase)

        <!--Contact info-->
        <div class="flex marlauto marrauto maxw1380 martop60" style="height:1.08rem;margin-bottom:-0.5rem">
            <div class="flex w100 bg-fff" style="z-index:999">
                <div class="flex jc-center ai-center marlauto marrauto">
                    <img src="/web_images/mobile-icon.png">
                    <div class="" style="margin-left:0.2rem">
                        <div class="c-d2d2d2 fst15">联系电话</div>
                        <div class="fw-bold fst17">@ViewBag.MOBILE</div>
                    </div>
                </div>
                <div class="h100 w2px bg-d2d2d2"></div>
                <div class="flex jc-center ai-center marlauto marrauto">
                    <img src="/web_images/user-icon.png">
                    <div class="marleft20">
                        <div class="c-d2d2d2 fst15">联系人</div>
                        <div class="fw-bold fst17">@ViewBag.CONTNAME</div>
                    </div>
                </div>
                <div class="h100 w2px bg-d2d2d2"></div>
                <div class="flex jc-center ai-center marlauto marrauto">
                    <img src="/web_images/location-icon.png">
                    <div class="marleft20">
                        <div class="c-d2d2d2 fst15">联系地址</div>
                        <div class="fw-bold fst17">@ViewBag.ADDRESS</div>
                    </div>
                </div>
                <div class="h100 w2px bg-d2d2d2"></div>
                <div class="flex jc-center ai-center marlauto marrauto">
                    <img src="/web_images/dial-icon.png">
                    <div class="marleft20">
                        <div class="c-d2d2d2 fst15">座机号码</div>
                        <div class="fw-bold fst17">@ViewBag.TELEPHONE</div>
                    </div>
                </div>
                <div class="h100 w2px bg-d2d2d2"></div>
                <div class="flex" style="padding-left:0.4rem;padding-right:0.4rem;padding-top:0.1rem;padding-bottom:0.1rem;object-fit:fill;">
                    <img src="@ViewBag.QRCODE"/>
                </div>
            </div>
        </div>
        @{
            Html.RenderAction("boot", "siteParent", new { cid = ViewBag.cid });
        }
    </div>

    <div class="sj">
        <div class="viewport index sj">
            @{
                Html.RenderAction("h5_top", "siteParent", new { cid = ViewBag.cid });
            }
            <!--轮播图-->
            @Html.Raw(ViewBag.sjbanner)
            <!--产品栏目滚动-->
            <div class="txt-center bg-fff padtop24">
                <div class="c-d40101 fst24 fw-500">PRODUCT</div>
                <div class="fw-bold fst36">产品展示</div>
            </div>
            <!--产品列表-->
            <div class="picScroll-left">
                <div class="hd">
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="picList">
                        <li>
                            <a href="">
                                <div class="left"><img src="~/web_images/product1.png" /></div>
                                <div class="right">
                                    <div class="tit">生物质锅炉</div><div class="more">操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left"><img src="~/web_images/product2.png" /></div>
                                <div class="right">
                                    <div class="tit">燃油燃气锅炉</div><div class="more">操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left"><img src="~/web_images/product3.png" /></div>
                                <div class="right">
                                    <div class="tit">燃煤锅炉</div><div class="more">操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left"><img src="~/web_images/product4.png" /></div>
                                <div class="right">
                                    <div class="tit">热风锅炉</div><div class="more">操作简单、触摸屏智能控制、温度压力自动控制、一键启停机操作、火力大小任意控制</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
                jQuery(".picScroll-left").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "leftLoop", autoPlay: false, vis: 2, delayTime: 700 })
            </script>
            @Html.Raw(ViewBag.sj_pro)

            <!--about us-->
            @Html.Raw(ViewBag.sj_aboutus)
            <!--customercase-->
            @Html.Raw(ViewBag.sj_customercase)
            
            <!--底部版权-->
            @{
                Html.RenderAction("h5_bot", "siteParent", new { cid = ViewBag.cid });
            }
        </div>
    </div>
</body>
</html>