@model List<ykmWeb.Models.ggw>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <title>网站后台管理系统</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- Morris -->
    <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">





    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/jquery-1.10.2.min.js"></script>

    <script src="/Scripts/menu.js"></script>
    <!--日期控件 -->
    <link href="/bootstrap/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/bootstrap/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <script src="~/Scripts/user_main_nclass.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/Scripts/batch_ctrl.js"></script>

</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="listbox ibox-content p-md m-b overf">
            <form action="" method="get" name="form1" id="form1">
                <div class="heig36">
                    <label for="key" class="left m-r">标题关键词</label>
                    <input type="text" class="form-control w20 left m-r" id="key"
                           name="key" placeholder="请输入标题关键词" value="">
                    <label for="key" class="left m-r">广告位位置</label>
                    <select name="posi" id="posi" class="form-control w20 left m-r">
                        @{
                            ykmWeb.Bll.htmlggw_ht hg = new ykmWeb.Bll.htmlggw_ht();
                            var htmlstr = hg.re_option("");
                        }
                        @Html.Raw(htmlstr);
                    </select>
                    <button class="btn btn-success m-r">开始查询</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>所有信息( @ViewBag.infocount 条）</h5>
                        <div class="ibox-tools">
                            @*<div class="form-group  right">*@
                            <a href="/management/ggwlist/edit" class="btn btn-primary" style="padding:2px;">添加</a>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%"><input type="checkbox" class="batch_ckall" id="ckall" name="ckall" /> 全选</th>
                                    <th width="15%" class="tc">缩略图</th>
                                    <th width="20%" class="tc">标题</th>
                                    <th width="15%" class="tc">广告位位置</th>
                                    <th width="15%" class="tc">链接位置</th>
                                    <th width="10%" class="tc">发布时间</th>
                                    <th width="10%" class="tc">操作设置</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var i in Model)
                                {
                                    var name = "ck" + i.id.Value;
                                <tr>
                                    <td><input type="checkbox" id="@name" value="@i.id" name="ck" /></td>
                                    <td>
                                        <div class="zp_info">
                                            <div class="zp_pic m-r">
                                                @if (string.IsNullOrEmpty(i.imgurl))
                                                {
                                                    <img src="/images/u542.png" />
                                                }
                                                else
                                                {
                                                    <img src="@i.imgurl" />
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>@i.title</td>
                                    <td class="tc">
                                        @Html.Raw(hg.reggwstr(i.ggwposition))
                                    </td>
                                    <td class="tc">@i.ggwlink</td>
                                    <td class="tc">@i.insertdate</td>
                                    <td class="tc">
                                        <div class="myedit">
                                            @Html.ActionLink("编辑", "edit", new { id = i.id })
                                            @Html.ActionLink("删除", "del", new { id = i.id }, new { onclick = "return confirm('确定要删除吗？')" })
                                        </div>
                                    </td>
                                </tr>
                                }
                                <tr>
                                    <td width="5%"><input type="checkbox" class="batch_ckall" id="ckall" name="ckall" /> 全选</td>
                                    <td width="15%">
                                        <div class=" form-inline">
                                            <input type="button" value="删除所选信息" class="btn btn-default batch-delall" id="btn5" data-batchurl="/management/ggwlist/delall" />
                                        </div>
                                    </td>
                                    <td width="15%" colspan="5"> </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="footpage">
                            @Html.Raw(ViewBag.footpage)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>